<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-lazy-init="true">
	<description>Spring saysth-counter配置文件</description>

	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxActive" value="10" />
		<property name="maxIdle" value="2" />
		<property name="maxWait" value="600" />
		<property name="testOnBorrow" value="true" />
	</bean>

	<!-- jedis shard pool2配置 ,用于存放无需持久化的数据 -->
	<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
		<constructor-arg index="0" ref="jedisPoolConfig" />
		<constructor-arg index="1" value="192.168.0.216" />
		<constructor-arg index="2" value="6379" />
	</bean>

	<bean id="personDao" class="com.saysth.commons.unit.redis.PersonDao">
		<property name="jedisPool" ref="jedisPool" />
		<property name="dbIndex" value="15" />
	</bean>


</beans>